/*.App {
  text-align: center;
}*/

.Top {
  /*animation: App-logo-spin infinite 20s linear;*/
  /*height: 80px;*/
  /*background-color: #222;*/
    padding: 0px;
    font-size: large;
 margin: 20px;
  /*padding: 0;*/
  font-family: sans-serif;

}

.resource_select {
  /*background-color: #222;*/
  /*height: 10px;*/
  /*padding: 20px;*/
  margin-left: 100px;
  margin:   10px;
  /*color: white;*/
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
